<!---- 
{% extends "layout.html" %}
{% block content %}
<p>Equipment Inventroy and Maintenance Module goes here</p>
{% endblock content %}
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Equipment Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper active-nav-link">
                    <a href="home.html">home</a>
                </div>

                <div class="nav-link-wrapper">
                    <div class="wrapper">
                        <input type="text" class="input" placeholder="Equipment Search">
                        <div class="searchbutton">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="brand">
                        <div>Equipment Inventory and Maintenance</div>
                    </div>
                </div>
            </div>
        
</body>

</html>