{% extends "layout.html" %}
{% block content %}
	{% for function in some_function %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ function.function }}</a>
		      <small class="text-muted">{{ function.function }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ function.function }}</a></h2>
		    <p class="article-content">{{ function.display }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}


