<!--
{% extends "layout.html" %}
{% block content %}
<p>Perhaps we can have some widgets here... weather, a snippet of the daily schedule, anything important that needs attention.. etc</p>
{% endblock content %}
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Equipment Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="billing.html">Billing</a>
                </div>
                <div class="equipment">
                    <a href="equipment.html">Equipment & Maintenance</a>
                </div>
                <div class="labs">
                    <a href="labs.html">Laboratory</a>
                </div>
                <div class="pharm">
                    <a href="pharm.html">Pharmacy</a>
                </div>
                <div class="records">
                    <a href="records.html">Records</a>
                </div>
                <div class="sched">
                    <a href="sched.html">Schedule</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="">Search</a>
                </div>

            </div>
            <div class="middle">
                <div>Home Page</div>
            </div>
            <div class="right-side">
                <div class="brand">
                </div>
            </div>
        </div>
</body>

</html>