{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST", action="">
			{{ form.hidden_tag() }}
			<fieldset class="form">
				<legend class="border-bottom mb-4">Patient Records
								   </legend>
				<div class="form-group">
					{{ form.input.label(class="form-control-label")}}

					{% if form.input.errors %}
						{{ form.input(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.input.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.input(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<div>
			{% if results %}
				<p>Molecular Weight: {{ results['Molecular Weight'] }}</p>
				<p>Extinction Coefficient (L/(mol cm)): {{ results['Extinction Coefficient'] }}</p>
			{% endif %}
			</div>
		</form>
	</div>
{% endblock content %}

